<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MonardaOil.com</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/main.css" rel="stylesheet">
    <link href="css/full-slider.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a href="#" class="scroll-link" data-id="top">Back to Top</a>
                </li>
            </ul>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#" class="scroll-link" data-id="about">About</a>
                    </li>
                    <li>
                        <a href="#" class="scroll-link" data-id="investment">Our Investment</a>
                    </li>
                    <li>
                        <a href="#" class="scroll-link" data-id="aroma">Our Oil</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- remove Full Width Image Header
    <header class="header-image">
        <div class="headline">
            <div class="container">
                <h1></h1>
                <h2>Will Knock Your Socks Off</h2>
            </div>
        </div>
    </header>
    end remove Full Width Image Header-->

    <!-- Full Page Image Background Carousel Header -->
    <header id="myCarousel" class="carousel slide" data-pause="false">
    <div id="top"></div>
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image:url('/assets/wood_diffuser.jpg');"></div>
                <div class="carousel-caption">
                    <h2>MonardaOil.com</h2>
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url('/assets/monarda_field.jpeg');"></div>
                <div class="carousel-caption">
                    <h2>MonardaOil.com</h2>
                </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url('/assets/monarda.JPG');"></div>
                <div class="carousel-caption">
                    <h2>MonardaOil.com</h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </header>

    <!-- Page Content -->
    <div class="container" id="about">

        <hr class="featurette-divider">
        <!-- First Featurette -->
        <div class="featurette" id="featurette-1">
            <img class="featurette-image img-circle img-responsive pull-right" id="first-image" src="/assets/monarda.JPG">
            <h2 class="featurette-heading">Monarda fistulosa
                <!-- <span class="text-muted">Will Catch Your Eye</span> -->
            </h2>
            <p class="lead">is a native prairie plant that grows in the wild in North America. The plants produce an oil that we extract using low pressure steam distillation. It is a 100% USA derived pure, unaltered, natural Monarda oil. Instead of hurting the wild populations of plants, we have developed a sustainable cultivation method of this amazing perennial  plant. It has some unique natural characteristics such as alleopathy. The plant discourages other weed seeds from germination, so we have no need for herbicides. Insects love to pollinate the plant, hence the common name “Bee-Balm” but they don’t like to eat it, so we have no need for pesticides. We grow our Monarda on the richest black farmland in the world, where topsoil is not measured in inches, but in feet.</p>
            <div id="investment"></div>
        </div>

        <hr class="featurette-divider">

        <!-- Second Featurette -->
        <div class="featurette" id="featurette-2">
            <img class="featurette-image img-circle img-responsive pull-left" id="second-image" src="/assets/greenhousesmall.jpg">
            <h2 class="featurette-heading">We have invested heavily
                <!-- <span class="text-muted">Is Pretty Cool Too.</span> -->
            </h2>
            <p class="lead">in research to determine the secrets of this little known plant, and have developed proprietary methods of obtaining the richest oil for Aromatherapy uses. The unique plants traits have been researched extensively and we have individual propagation and we have plants that produce standardized oils rich in several components, such as carvacrol, thymol, thymoquinone and para cymene. Everything from the fields in which they are grown, to the harvest and distillation, laboratory quality control, bottling  and shipping is 100% controlled by us.</p>
            <div id="aroma"></div>
        </div>

        <hr class="featurette-divider">

        <!-- Third Featurette -->
        <div class="featurette" id="featurette-3">
            <img class="featurette-image img-circle img-responsive pull-right" id="third-image" src="/assets/wood_diffuser.jpg">
            <h2 class="featurette-heading" id="our-monarda-h2">Our Monarda oil
                <!-- <span class="text-muted">Will Seal the Deal.</span> -->
            </h2>
            <p class="lead">has a warm smell and is best used in an Aromatherapy diffuser, or with a couple of drops in a Kleenex and alternating breathing of the oil and a fresh breath of air.</p>
        </div>

        <hr class="featurette-divider">

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; www.monardaoil.com 2015</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5500 //changes the speed
    })

$(function() {
    // navigation click actions 
    $('.scroll-link').on('click', function(event){
        event.preventDefault();
        var sectionID = $(this).attr("data-id");
        scrollToID('#' + sectionID, 750);
    });
    // scroll to top action
    $('.scroll-top').on('click', function(event) {
        event.preventDefault();
        $('html, body').animate({scrollTop:0}, 'slow');         
    });
});
// scroll function
function scrollToID(id, speed){
    var targetOffset = $(id).offset().top;
    $('html,body').animate({scrollTop:targetOffset}, speed);
}
if (typeof console === "undefined") {
    console = {
        log: function() { }
    };
}
</script>

</body>

</html>